<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enermy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{202,200}</string>
                <key>textureRect</key>
                <string>{{0,219},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{810,30}</string>
                <key>spriteSourceSize</key>
                <string>{810,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{810,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,189}</string>
                <key>spriteSourceSize</key>
                <string>{246,189}</string>
                <key>textureRect</key>
                <string>{{0,30},{246,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{577,174}</string>
                <key>spriteSourceSize</key>
                <string>{577,174}</string>
                <key>textureRect</key>
                <string>{{246,30},{577,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>medicine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{202,219},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{402,219},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{602,219},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>controlBall.png</string>
            <key>size</key>
            <string>{823,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9f3a6b323b785056f27d262ace247e9:99d98579ec139164399441151666dce4:662a19079af61e00d5000ea98b0de823$</string>
            <key>textureFileName</key>
            <string>controlBall.png</string>
        </dict>
    </dict>
</plist>
