<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,137}</string>
                <key>spriteSourceSize</key>
                <string>{100,137}</string>
                <key>textureRect</key>
                <string>{{1017,503},{100,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,104}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{1017,642},{100,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,321}</string>
                <key>spriteSourceSize</key>
                <string>{500,321}</string>
                <key>textureRect</key>
                <string>{{1,633},{500,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,138}</string>
                <key>spriteSourceSize</key>
                <string>{500,138}</string>
                <key>textureRect</key>
                <string>{{919,1},{500,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,214}</string>
                <key>spriteSourceSize</key>
                <string>{500,214}</string>
                <key>textureRect</key>
                <string>{{801,503},{500,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,630}</string>
                <key>spriteSourceSize</key>
                <string>{500,630}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,630}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,296}</string>
                <key>spriteSourceSize</key>
                <string>{500,296}</string>
                <key>textureRect</key>
                <string>{{503,503},{500,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,414}</string>
                <key>spriteSourceSize</key>
                <string>{500,414}</string>
                <key>textureRect</key>
                <string>{{503,1},{500,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>myGameTexture.png</string>
            <key>size</key>
            <string>{1118,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d0f29ee683ceddabb596938eac63030:9390539dc89b4837226e2eaa39e34af8:a5051307aa76c3179eb4c86886f58163$</string>
            <key>textureFileName</key>
            <string>myGameTexture.png</string>
        </dict>
    </dict>
</plist>
