<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enermy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{202,200}</string>
                <key>textureRect</key>
                <string>{{0,200},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{812,27}</string>
                <key>spriteSourceSize</key>
                <string>{812,27}</string>
                <key>textureRect</key>
                <string>{{0,1084},{812,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,192}</string>
                <key>spriteSourceSize</key>
                <string>{244,192}</string>
                <key>textureRect</key>
                <string>{{203,409},{244,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{572,174}</string>
                <key>spriteSourceSize</key>
                <string>{572,174}</string>
                <key>textureRect</key>
                <string>{{0,910},{572,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enermyCircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,501}</string>
                <key>spriteSourceSize</key>
                <string>{501,501}</string>
                <key>textureRect</key>
                <string>{{447,409},{501,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>healthPlus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{266,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>medicine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{466,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{666,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerMark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,191}</string>
                <key>spriteSourceSize</key>
                <string>{126,191}</string>
                <key>textureRect</key>
                <string>{{140,0},{126,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{608,200},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{405,200},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sliderCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{0,409},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sliderplus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,88}</string>
                <key>spriteSourceSize</key>
                <string>{29,88}</string>
                <key>textureRect</key>
                <string>{{0,0},{29,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superPlus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,206}</string>
                <key>spriteSourceSize</key>
                <string>{203,206}</string>
                <key>textureRect</key>
                <string>{{202,200},{203,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superPlusCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,209}</string>
                <key>spriteSourceSize</key>
                <string>{203,209}</string>
                <key>textureRect</key>
                <string>{{811,200},{203,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superplusplus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,137}</string>
                <key>spriteSourceSize</key>
                <string>{111,137}</string>
                <key>textureRect</key>
                <string>{{29,0},{111,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>controlBall.png</string>
            <key>size</key>
            <string>{1014,1111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3eb48ee867f1583a2d8d6111428b540c:3ffe3c78c8b03de3081cb6429aa8f54c:662a19079af61e00d5000ea98b0de823$</string>
            <key>textureFileName</key>
            <string>controlBall.png</string>
        </dict>
    </dict>
</plist>
