<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,19}</string>
                <key>spriteSourceSize</key>
                <string>{288,19}</string>
                <key>textureRect</key>
                <string>{{519,195},{288,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonNormalCha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,193}</string>
                <key>spriteSourceSize</key>
                <string>{193,193}</string>
                <key>textureRect</key>
                <string>{{222,57},{193,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPressedCha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,219}</string>
                <key>spriteSourceSize</key>
                <string>{219,219}</string>
                <key>textureRect</key>
                <string>{{1,1},{219,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changeDir.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{809,159},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lifePlus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{840,57},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerBody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{136,215}</string>
                <key>spriteSourceSize</key>
                <string>{300,215}</string>
                <key>textureRect</key>
                <string>{{417,57},{136,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerHead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,63}</string>
                <key>spriteSourceSize</key>
                <string>{300,63}</string>
                <key>textureRect</key>
                <string>{{911,57},{300,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sliderBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,54}</string>
                <key>spriteSourceSize</key>
                <string>{1200,54}</string>
                <key>textureRect</key>
                <string>{{222,1},{1200,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sliderHandle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{417,195},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slowDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{67,64}</string>
                <key>textureRect</key>
                <string>{{880,128},{67,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>target.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{634,57},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tool.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{738,57},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>catchApple2_0.png</string>
            <key>size</key>
            <string>{1423,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dafb147aa092640bc7681fe021019039:4dcafccecb88d8538ec8e07764a06327:f799841af910d2e6585b93e6fada34b0$</string>
            <key>textureFileName</key>
            <string>catchApple2_0.png</string>
        </dict>
    </dict>
</plist>
